* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.painel-jogo {
  width: 1000px;
  height: 500px;
  border: 1px solid;
  overflow: hidden;
}

.player {
  position: absolute;
}

#room {
  border: 1px solid chocolate;
  margin: auto;
  position: relative;
}

.tile {
  position: relative;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none; 
}

@keyframes animacaoAvatar {
  from {
    background-position: 0px;
  }

  to {
    background-position: -152px;
  }
}